/* Universal */
:root{
    font-size: 62.5%;
    font-family: "Ubuntu", sans-serif;
    
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-inline-size: 100%;
    display: block;
}



/* Shared*/
.why-us__headline,
.why-us__subheadline,
.offer__headline,
.offer-card__headline{
    font-family: "Unica One", sans-serif;
}

.nav__link,
.offer-card__description,
.offer__description,
.footer__copyright-text,
.why-us__text,
.why-us__list{
    font-size: 1.6rem;
    line-height: 1.5;
}

.offer-card__description,
.offer__description,
.why-us__text,
.why-us__list{
    color: #6e6e6e;
}


/* Header */
.header{
    display: flex;
    padding: 3.2rem 14.4rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#logo{
    color: #ff9421;
    font-family: "Abril Fatface", serif;
    font-size: 4rem;
}

.nav__list{
    display: flex;

    gap: 3rem;
    padding-right: 17.5rem;
    list-style-type: none;
    

}

.nav__link.current-link{
    color: #ff9421;
}

.nav__link{
    color: #121212;
    text-align: center;
}

.nav__link:hover{
    color: #16c8fe;
}

/* Offer section */
.offer{
    background-color: #f6f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 2.2rem 2.7rem;
}

.offer__headline{
    color: #ff9421;
    font-size: 5.2rem;
    text-align: center;
}

.offer__description{
    max-width: 52.9rem;
    text-align: center;
    margin-bottom: 7.7rem;
}

.offer-card__headline{
    color: #121212;
    font-size: 2.6rem;
}

.offer-cards{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 33.3rem));
    gap: 2.6rem;
    margin-inline: 2rem;
}

.offer-card{
    
    background-color: #ffffff;
    border-radius: 0.5rem;
    border: 2px solid #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 2.6rem;
    padding: 4.1rem 2.7rem;
    box-shadow: 3px 3px 10px #ebebeb;

}

i.offer-card__icon{
    font-size: 4.8rem;
    color:#ff9421;
}




/* Why us section */
.why-us{
    display: grid;
    grid-template-columns: minmax(0, 52.7rem) minmax(0, 52.7rem);
    justify-content: center;
    margin-block: 5.1rem 10.1rem;
    margin-inline: 2rem;
}

.why-us__text-container{
    padding: 5.2rem 3.5rem;
}

.why-us__headline{
    color: #121212;
    font-size: 3.6rem;
    margin-bottom: 3.3rem;
}

.why-us__subheadline{
    color: #ff9421;
    font-size: 2.6rem;
    margin-bottom: 1.7rem;
}

.why-us__text{
    margin-bottom: 5.7rem;
}

.why-us__list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.why-us__item{
    display: flex;
    gap: 2.2rem;
}

.why-us__item::before {
    content: "✔";
    color: #ff9421;
}

.why-us__img{
    object-fit: cover;
    height: 100%;
}

/* Footer */
.footer{
    background-color: #333333;
}

.footer__copyright-text{
    text-align: center;
    color: #ffffff;
    padding-block: 3.2rem 3.5rem;
    font-weight: 500;
    margin-inline: 2rem;
}

/* Media Quieries*/
@media screen and (width <= 75rem){
    .offer-cards{
        grid-template-columns: repeat(2, minmax(0, 33.3rem));
    }

    .nav__list{
        padding-right: 0;
    }
}

@media screen and (width <= 58rem){
    .header{
        flex-direction: column;
    }

    
}

@media screen and (width <= 48rem){
    .why-us{
        grid-template-columns: 1fr;
    }

    .offer-cards{
        grid-template-columns: minmax(0, 33.3rem);
    }

    .nav__list{
        flex-direction: column;
    }
}